.DS_Store
.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
vender/
log/
composer.lock
gitpush.sh
pkg/
bin/
cbuild
*/.DS_Store
.vscode

.svn
node_modules/
.node_modules/

**/*.cpython-39.pyc
/registry-service/size_detect/front_view/EfficientSAM/weights/efficient_sam_vits.pt
/config/env.py
/registry-service/size_detect/front_view/efficient_sam_vits.onnx
/registry-service/api/efficient_sam_vits.onnx
/public/uploads/images/eyeglassframe/
public/

/application/celery_task/glass_detect/detect/checkpoints
/application/celery_task/glass_detect/segment/checkpoints